body
{
    margin: 0;
    font-family: 'Catamaran', sans-serif;
}

.navbar
{
    background-color: #ffffff;
}

.navbar img
{
    height: 50px;
    display: inline-block;
    padding: 10px 0 0 7%;
}

.navbar a
{
    text-decoration: none;
    color: #000000;
}

.navbar ul
{
    display: inline-block;
    float: right;
    margin: 0 7% 0 0;
}

.navbar li
{
    display: table-cell;
    font-size: 20px;
    padding: 20px;
}

.navbar li:hover
{
    font-weight: 700;
}

.navbar i
{
    display: none;
}

.active
{
    font-weight: 700;
}

.head, .head1
{
    background-image: url('../../Images/main-2.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 350px;
}

.head1
{
    height: 250px;
}

.user
{
    position: relative;
}

.user .user-pic img
{
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    right: 10%;
    top: 40px;
}

.inner
{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    color: #ffffff;
}

.inner h1
{
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
}

.content
{
    margin: 50px 10% 80px;
    font-size: 20px;
}

.content .post-list img
{
    padding: 0;
    margin-top: -15px;
}

.post-list a
{
    text-decoration: none;
}

.list-item, .content .user
{
    padding: 0 5% 15px;
    border: 1px #eeeeee solid;
    margin-bottom: 15px;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .user
{
    padding: 20px 10%;
}

.content .user input[type=submit]
{
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border-radius: 2px;
    padding: 7px 15px;
    border: none;
}

.content .user input[type=submit]:hover
{
    background-color: #708090;
    color: #ffffff;
}

.user input[type=text], .user input[type=email], .user input[type=file]
{
    font-size: 18px;
}

.footer
{
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    padding: 15px 0;
}

@media screen and (max-width:900px)
{
    .inner h1
    {
        font-size: 45px;
        margin-top: 30px;
    }

    .navbar img
    {
        height:30px;
    }

    .head
    {
        height:250px;
    }

    .navbar i
    {
        display: inline-block;
        float:right;
        padding: 15px 10% 0 0;
        cursor: pointer;
    }

    .navbar a
    {
        color: #ffffff;
        font-size: 15px;
    }

    .navbar li
    {
        display: block;
        background-color: #000000;
        padding: 5px 20px;
    }

    .navbar li:hover
    {
        font-weight: 400;
        background-color: #708090;
        transition: 0.5s;
    }

    .navbar ul.show
    {
        display: block;
    }

    .navbar ul
    {
        display: none;
        position: absolute;
        top:40px;
        right: 0;
    }
    .content
    {
        font-size: 15px;
    }
    .content h1
    {
        font-size: 30px;
    }
}
