
body
{

    box-sizing: border-box;
    font-size: 18px;
    margin: 100px 0;
    font-family: sans-serif;
    background-color: #728ba7;
    background-image: url(../../Images/main-2.jpg);
    background-size: cover;
}

.main-login, .main-signup
{
    max-width: 450px;
    min-width: 200px;
    text-align: center;
    padding: 20px 15px 50px;
    background-color: #ffffff;
    margin: auto;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 0 15px 30px 0 rgba(0, 0, 0, 0.4);
}

.main-login a, .main-signup a
{
    color: #000000;
}
.main-signup
{
    margin: -40px auto;
}

.red
{
    color: #ff0000;
}

.main-signup .password-require
{
    text-align: left;
    color: #555555;
    font-size: 13px;
    padding-left: 37%;
    padding-top: 5px;
}

hr
{
    border: #ededed 0.01px solid;
    width: 100%;
}

h1
{
    font-size: 45px;
}

input[type=text], input[type=password], input[type=email]
{
    height: 20px;
    width: 200px;
    font-size: 17px;
    border-radius: 2px;
}

input[type=submit]
{
    padding: 5px 10px;
    font-size: 17px;
    width: 170px;
    border: none;
    border-radius: 2px;
    font-weight: 900;
    background-color: #405060;
    color: #ffffff;
    border: 1px solid #405060;/*17507a*/
}

.msg
{
    text-align: center;
    margin: 0px 10%;
    color: #ff0000;
    font-size: 15px;
}

input[type=submit]:hover
{
    color: #ffffff;
    background-color: #708090;
    border:#708090 1px solid;
}


@media screen and (max-width: 900px)
{
    body
    {
        font-size: 15px;
        margin: 40px 0;
    }

    h1
    {
        font-size: 45px;
    }

    .main-login, .main-signup
    {
        width: 300px;
        padding: 15px 15px 25px;
    }

    .main-signup
    {
        margin: auto;
    }

    input[type=text], input[type=password], input[type=email]
    {
        font-size: 13px;
    }

    input[type=submit]
    {
        font-size: 13px;
        width: 150px;
    }

    .msg
    {
        font-size: 13px;
        margin: 7px 35%;
        padding: 7px 0;
    }
}
